// ABOUT    
.about_container.page#about
    .title ABOUT ME
    .index_wrap    
        .profile_wrap 
            .profile-header
                .side     
                    .profile
                        .img_wrap
                            img(src="/public/image/me.jpg", alt="my image")
                        .profile_title 
                            span.big 안녕하세요. 
                            br 
                            span 
                                span.em 백엔드 개발자
                                | 를 
                            span 꿈꾸는 
                            br    
                            span.big2 김일중
                            span 입니다.
                    .profile_detail 
                        .pimg(onclick=" window.open('https://github.com/bdgom73')", title="Github")
                            img(src="/public/image/github.png")
                        .pimg(onclick="window.open('https://blog.naver.com/bdgom73')", title="naver blog")
                            img(src="/public/image/blog.png")
                        .pimg(onclick="window.open('https://www.instagram.com/bdgom73/')", title="instagram")
                            img(src="/public/image/Instagram.png" ,style="border-radius:50%;")
                .intro
                    .intro_me   
                        .in    
                            .in_h NAME 
                            .in_c 김일중
                        .in
                            .in_h BIRTH
                            .in_c 1997.10
                        .in
                            .in_h EDUCATION
                            .in_c 
                                ul.in_y
                                    li 
                                        span.intro_date 2016.03 ~ 2019.02
                                        | 한국폴리텍2대학 인천캠퍼스 (정보통신)
                                    li 
                                        span.intro_date 2013.03 ~ 2016.02
                                        | 경기국제통상고등학교 (경영정보)    
                        .in
                            .in_h CERTIFICATE 
                            .in_c 
                                ul.in_y
                                    li 
                                        span.intro_date 2014.10
                                        | 워드프로세서
                                    li 
                                        span.intro_date 2019.05
                                        |정보통신산업기사 
                                    li 
                                        span.intro_date 2021.11
                                        |정보처리산업기사 
