// contact
.contact_container.page#contact
    .title CONTACT 
    .index_wrap
        .after_that
            h1 
                img(src="/public/image/contact/goal.png")
                |VISION
            p 
                | 포트폴리오 사이트를 제작하면서 지금까지 공부 한 것을 점검하고,
                | 자신을 되돌아보는 시간이었습니다. 여러 데이터베이스, 
                | 백엔드 프레임워크/라이브러리, 리눅스 및 네트워크에 대한 이해와 활용을 
                | 통해 더 익숙해지고 많은 사람들이 편하고 원하는 것들을 잘 만들어 내는
                | 그런 개발자가 되도록 계속 걸어 나갈 것 입니다.
            p.ps 꿈꾸던 모든 것들을 코딩을 통해 표현할 수 있기를 
        ul.contact_me 
            li
                img(src="/public/image/contact/email.png")
                | bdgom73@naver.com / dlfwnd97@gmail.com
            li(onclick="window.open('https://blog.naver.com/bdgom73')") 
                img(src="/public/image/contact/blog.png")
                | Blog &nbsp;
                font(color = "#E4AAFE") (https://blog.naver.com/bdgom73)
            li(onclick=" window.open('https://github.com/bdgom73')") 
                img(src="/public/image/contact/github.png")
                | Github &nbsp;
                font(color = "#E4AAFE")  (https://github.com/bdgom73)