// PRODUCE
.produce_container.page#produce
    .title PROJECT 
    .index_wrap    
        .produce_card 
            .produce_img
                img(src="/public/image/produce/opendb/home.jpg")
            .produce_explain 
                .produce_title open DB 테스트 페이지
                ul 
                    li React, Web SQL을 사용한 테이블 생성, 삭제, 수정 및 데이터 쓰기, 읽기, 수정, 삭제 테스트 페이지입니다. 
                .produce_etc 
                    button.demo(type="button" onclick="window.open('https://master.d3qhackjcqfjcb.amplifyapp.com/')") DEMO
                    button.git(type="button" onclick="window.open('https://github.com/bdgom73/websqlTest')")
                        img(src="/public/image/skills/github.svg", alt="github_logo") 
                        | GitHub   
        .produce_card 
            .produce_img
                img(src="/public/image/produce/wetube/home.jpg")
            .produce_explain 
                .produce_title WeTube
                ul 
                    li node.js, pug,  mongo db를 이용한 Youtube clone 사이트입니다.
                .produce_etc 
                    //- button.demo(type="button" onclick="window.open('https://master.d3qhackjcqfjcb.amplifyapp.com/')") DEMO
                    button.git(type="button" onclick="window.open('https://github.com/bdgom73/wetube')")
                        img(src="/public/image/skills/github.svg", alt="github_logo") 
                        | GitHub