// SKILLS
.skills_container.page#skills
    .title SKILLS 
    .index_wrap  
        //- a(href="https://trello.com/b/BWtpfywH/%EC%8B%A0%EC%9E%85-%EA%B0%9C%EB%B0%9C%EC%9E%90-%EA%B8%B0%EC%88%A0%EB%A9%B4%EC%A0%91") 기술면접질문    
        .leng_wrap
            .skill_box
                .skill_back     
                    h1.red HTML        
                    |  웹 페이지를 위한 마크업 언어
                .skill_img.htmlimg
                
            .skill_box
                .skill_back 
                    h1.blue CSS 
                    | 웹 페이지를 꾸미는 스타일 시트 언어
                .skill_img.cssimg
            .skill_box
                .skill_back 
                    h1.yellow JavaScript 
                    | 웹 페이지에 생동감을 불어넣기 위한 언어
                .skill_img.jsimg
        .leng_wrap
            .skill_box
                .skill_back     
                    h1.red Java
                    | 객체 지향 프로그래밍 언어이자 컴퓨팅 플랫폼이다.
                .skill_img.javaimg
            .skill_box
                .skill_back     
                    h1.green Node.js
                    ul 
                        li 서버사이드 자바스크립트이다.
                .skill_img.nodeimg
            .skill_box
                .skill_back     
                    h1.green Spring
                    | 자바 플랫폼을 위한 오픈소스 애플리케이션 프레임워크
                .skill_img2
                    img(src="/public/image/skills/spring.svg", alt="spring_logo")
            .skill_box
                .skill_back     
                    h1.mint React
                    | 웹 프레임워크로, 자바스크립트 라이브러리의 하나로서 사용자 인터페이스를 만들기 위해 사용된다.
                .skill_img2
                    img.rsi(src="/public/image/skills/react.png", alt="react_logo", style="width:140%")

        .leng_wrap
            .skill_box
                .skill_back     
                    h1.blue H2 
                    | H2DB는 자바 기반의 오픈소스 관계형 데이터 베이스 관리 시스템(RDBMS)입니다.
                .skill_img2 
                    img(src="/public/image/skills/h2.png", alt="H2_logo")
            .skill_box
                .skill_back     
                    h1.yellow MySQL
                    | MySQL은 오픈소스 방식의 DBMS프로그램이다. 
                .skill_img2
                    img(src="/public/image/skills/mysql.png", alt="mysql_logo", style="width : 100% ;  height:100%")
            .skill_box
                .skill_back     
                    h1.green Mongo
                    | NoSQL 중 가장 많이 쓰이는 비관계형 데이터베이스 관리 시스템으로 자유 오픈소스 소프트웨어이다.
                .skill_img2
                    img.rsi(src="/public/image/skills/mongo.png", alt="mongo_logo")