head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', href='/public/css/index.css')
  // 차트 
  script(src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js") 
  // 제이쿼리
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")   
  // book 효과
  script(src='public/js/scrollpage.js')
  <!-- Google tag (gtag.js) -->
  script(async src="https://www.googletagmanager.com/gtag/js?id=G-MBLD04JN65")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-MBLD04JN65');
   
