.modal_wrap#modal
    .modal
        .modal_body#modal_body
            .modal_image
                .close#modal_close ✖
                img#modalImage(src="/public/image/produce/workoutApp/home.JPG")
            