header
  nav
    ul 
      li 
        span.move(onclick="movePage(0)") HOME
      li 
        span.move(onclick="movePage(1)") ABOUT
      li 
        span.move(onclick="movePage(2)") SKILLS            
      li 
        span.move(onclick="movePage(3)") PROJECT
      li 
        span.move(onclick="movePage(4)") CONTACT